# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.tlog
.vcxproj

Ex1 - Cipher/Father/Debug/
Ex1 - Cipher/Son/Debug/
Ex2 - Multi-threaded Grades Calculations/Ex2/Debug/
Ex2 - Multi-threaded Grades Calculations/Ex2/x64/
Ex3 - Page Table Implementation/Ex3/Debug/
Ex4 - Server & Client 7-Boom Game/client/Debug/
Ex4 - Server & Client 7-Boom Game/server/Debug/
Ex4 - Server & Client 7-Boom Game/server/x64/
